.vs/ApiClient/CopilotIndices/17.13.433.20974/CodeChunks.db
.vs/ApiClient/CopilotIndices/17.13.433.20974/SemanticSymbols.db
.vs/ApiClient/DesignTimeBuild/.dtbcache.v2
.vs/ApiClient/FileContentIndex/3956a467-0345-4c47-9d31-3c07c4ad8f4f.vsidx
.vs/ApiClient/v17/.futdcache.v2
.vs/ApiClient/v17/.suo
.vs/ApiClient/v17/DocumentLayout.backup.json
.vs/ApiClient/v17/DocumentLayout.json
.vs/ProjectEvaluation/apiclient.metadata.v9.bin
.vs/ProjectEvaluation/apiclient.projects.v9.bin
.vs/ProjectEvaluation/apiclient.strings.v9.bin
ApiClient/obj/ApiClient.csproj.nuget.dgspec.json
ApiClient/obj/ApiClient.csproj.nuget.g.props
ApiClient/obj/ApiClient.csproj.nuget.g.targets
ApiClient/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
ApiClient/obj/Debug/netcoreapp2.2/ApiClient.AssemblyInfo.cs
ApiClient/obj/Debug/netcoreapp2.2/ApiClient.AssemblyInfoInputs.cache
ApiClient/obj/Debug/netcoreapp2.2/ApiClient.assets.cache
ApiClient/obj/Debug/netcoreapp2.2/ApiClient.csproj.AssemblyReference.cache
ApiClient/obj/Debug/netcoreapp2.2/ApiClient.GeneratedMSBuildEditorConfig.editorconfig
ApiClient/obj/Debug/netcoreapp2.2/ApiClient.RazorAssemblyInfo.cache
ApiClient/obj/project.assets.json
ApiClient/obj/project.nuget.cache
Business/Business.csproj
Business/obj/Business.csproj.nuget.dgspec.json
Business/obj/Business.csproj.nuget.g.props
Business/obj/Business.csproj.nuget.g.targets
Business/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
Business/obj/Debug/netcoreapp2.2/Business.AssemblyInfo.cs
Business/obj/Debug/netcoreapp2.2/Business.AssemblyInfoInputs.cache
Business/obj/Debug/netcoreapp2.2/Business.assets.cache
Business/obj/Debug/netcoreapp2.2/Business.csproj.AssemblyReference.cache
Business/obj/Debug/netcoreapp2.2/Business.GeneratedMSBuildEditorConfig.editorconfig
Business/obj/project.assets.json
Business/obj/project.nuget.cache
Domain/Domain.csproj
Domain/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
Domain/obj/Debug/netcoreapp2.2/Domain.AssemblyInfo.cs
Domain/obj/Debug/netcoreapp2.2/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/netcoreapp2.2/Domain.assets.cache
Domain/obj/Debug/netcoreapp2.2/Domain.csproj.AssemblyReference.cache
Domain/obj/Debug/netcoreapp2.2/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/Domain.csproj.nuget.g.targets
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Infra/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
Infra/obj/Debug/netcoreapp2.2/Infra.AssemblyInfo.cs
Infra/obj/Debug/netcoreapp2.2/Infra.AssemblyInfoInputs.cache
Infra/obj/Debug/netcoreapp2.2/Infra.assets.cache
Infra/obj/Debug/netcoreapp2.2/Infra.csproj.AssemblyReference.cache
Infra/obj/Debug/netcoreapp2.2/Infra.GeneratedMSBuildEditorConfig.editorconfig
Infra/obj/Infra.csproj.nuget.dgspec.json
Infra/obj/Infra.csproj.nuget.g.props
Infra/obj/Infra.csproj.nuget.g.targets
Infra/obj/project.assets.json
Infra/obj/project.nuget.cache
ApiClient/obj/ApiClient.csproj.nuget.dgspec.json
ApiClient/obj/ApiClient.csproj.nuget.g.props
ApiClient/obj/ApiClient.csproj.nuget.g.targets
ApiClient/obj/Debug/netcoreapp2.2/ApiClient.AssemblyInfo.cs
ApiClient/obj/Debug/netcoreapp2.2/ApiClient.AssemblyInfoInputs.cache
ApiClient/obj/Debug/netcoreapp2.2/ApiClient.assets.cache
ApiClient/obj/Debug/netcoreapp2.2/ApiClient.RazorAssemblyInfo.cache
ApiClient/obj/project.assets.json
Business/Business.csproj
Business/obj/Business.csproj.nuget.dgspec.json
Business/obj/Business.csproj.nuget.g.props
Business/obj/Business.csproj.nuget.g.targets
Business/obj/Debug/netcoreapp2.2/Business.AssemblyInfo.cs
Business/obj/Debug/netcoreapp2.2/Business.AssemblyInfoInputs.cache
Business/obj/Debug/netcoreapp2.2/Business.assets.cache
Business/obj/project.assets.json
Domain/Domain.csproj
Domain/obj/Debug/netcoreapp2.2/Domain.AssemblyInfo.cs
Domain/obj/Debug/netcoreapp2.2/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/netcoreapp2.2/Domain.assets.cache
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/Domain.csproj.nuget.g.targets
Domain/obj/project.assets.json
Infra/obj/Debug/netcoreapp2.2/Infra.AssemblyInfo.cs
Infra/obj/Debug/netcoreapp2.2/Infra.AssemblyInfoInputs.cache
Infra/obj/Debug/netcoreapp2.2/Infra.assets.cache
Infra/obj/Infra.csproj.nuget.dgspec.json
Infra/obj/Infra.csproj.nuget.g.props
Infra/obj/Infra.csproj.nuget.g.targets
Infra/obj/project.assets.json
